<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HuaweiUpdateExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
       
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <HuaweiUpdateExtractor.Properties.Settings>
            <setting name="ExtractVerifyHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtractVerifyFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtractCompressionLevel" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="RepackVerifyHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowMaximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1006, 829</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SignAlgorithm" serializeAs="String">
                <value>MD5withRSA</value>
            </setting>
            <setting name="LastUsedProfile" serializeAs="String">
                <value/>
            </setting>
            <setting name="SignKeyFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpdateTimestamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepTimestamps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUsedDirectory" serializeAs="String">
                <value/>
            </setting>
        </HuaweiUpdateExtractor.Properties.Settings>
    </userSettings>
</configuration>
